/Taller de programación/java/JavaApplication1/nbproject/private/
/Taller de programación/java/facultad/nbproject/private/
/Taller de programación/java/TP_ProyectoAlumnos/nbproject/private/
/Taller de programación/java (modulo objetos)/facultad/facultad/nbproject/private/
/Taller de programación/java (modulo objetos)/facultad/facultad/build/
